.item{
    position: relative;
    width: 30vw;
    min-width: 300px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #E9F1FA;

}
.dark-theme{
    background-color: rgb(95, 95, 95);
    color:#cfcfcf
}
.image > img{
    width: 100%;
    height:300px;
}
.btns > a{
    display: flex;
    text-decoration: none;
    width: 5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.source{
    padding: 7px;
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 5px;
}


.description, .published{
    
    font-family: 'Ubuntu', sans-serif;
}